.spline-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  margin-top: 50px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spline-container canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 1500px;
  max-height: 1200px;
  outline: none;
} 